/** Mobile & Tablet screen <= 1023px */
@media (max-width: 1024px) {
    .about-us__left  {
        order: 2;
        margin-top: 3rem;
    }
    .about-us__right {
        order: 1;
    }

    .travel-deals__item-box-view {
        left: 5px;
        right: 5px;
    }
    .cruises__tag-tour, .travel-deals__tag-tour {
        left: unset;
    }
}

/** Tablet  740px <= screen <= 1024px  */
@media (min-width: 740px) and (max-width: 1024px) {
    .col-mb-responsive {
        padding: 0 .5rem;
    }
    .banner__carousel .owl-nav {
        margin: 0;
    }

    .banner__bg {
        padding-top: 70%;
    }

    .banner__description {
        top: 9%;
    }
    .banner__price,
    .banner__title {
        font-size: 5rem;
        padding: 0 2rem;
    }
    .banner__view-deal {
        margin-top: 4rem;
    }

    .form-input-with-search {
        max-width: 100%;
        position: unset;
        width: unset;
        transform: unset;
    }
    .blog__items {
        width: auto;
    }

    .blog__desc span {
        bottom: 4.3rem;
    }

    .blog__time span {
        bottom: 3rem;
    }

}

/**  Mobile screen <= 739px */
@media (max-width: 739px) {
    .col-mb-responsive {
        padding: 0 .5rem;
    }
    /* Banner */
    .banner__bg {
        padding-top: 180%;
    }
    .banner__description {
        top: 11%;
    }

    .banner__price,
    .banner__title {
        font-size: 3.8rem;
        padding: 0 2rem;
    }

    .banner__sub {
        font-size: 2rem;
    }
    .banner__view-deal {
        margin-top: 3rem;
    }

    .banner__carousel .owl-nav {
        margin-bottom: unset;
    }

    /* Form search */
    .form-input-with-search {
        width: 100%;
        position: unset;
        transform: translateX(0);
        border-radius: unset;
    }
    .form-input-with-search__main {
        display: block;
    }

    .form-input-with-search__country {
        width: calc((100%) - 8.5rem);
        margin-bottom: 1rem;
    }
    .form-input-with-search__btn button {
        width: 8rem;
    }

    /* About us */
    .about-us__button {
        text-align: center;
    }

    /* Items */
    .travel-deals__items {
        margin-bottom: 13.8rem;
    }

    .travel-deals__item-box-view {
        display: block;
        left: .5rem;
        right: .5rem;
        bottom: .6rem;
    }
    .box-view__left{
        max-width: 100%;
    }
    .box-view__right {
        max-width: 100%;
        padding-left: 0;
    }

    .box-view__price-old,
    .box-view__description {
        display: block;
    }

    .box-view__sub {
        display: block;
    }

    .destinations__items {
        width: auto;
    }
}


/** Suaface Dou */
@media (min-width: 539px) and (max-width: 540px) {

}

/** Small Tablet  */
@media (min-width: 599px) and (max-width: 600px) {

}

/* Nửa màn hình */
@media (min-width: 760px) and (max-width: 761px) {

}

